@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Teko:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hind:wght@300&display=swap");
:root {
  font-size: 62.5%;
}

::-webkit-scrollbar {
  width: .5rem;
}

::-webkit-scrollbar-track {
  background: #373737;
}

::-webkit-scrollbar-thumb {
  background: #e8ae30;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Teko';
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: calc(4rem + 2vw);
}

h3 {
  font-size: calc(3rem + 2vw);
}

h4 {
  font-size: calc(2rem + 2vw);
}

p {
  font-size: calc(1.25rem + 1vw);
}

body {
  position: relative;
  overflow-x: hidden;
  color: #e8ae30;
}

a {
  text-decoration: none;
  color: inherit;
}

textarea {
  resize: none;
}

li {
  list-style-position: inside;
}

ul {
  list-style-type: '❯';
}

ul span {
  margin-left: 5px;
}

.t-highlight {
  color: #FFF;
}

.t-center {
  text-align: center;
}

.t-crop {
  line-height: 1.3;
}

.t-crop::before, .t-crop::after {
  content: '';
  display: block;
  height: 0;
  width: 0;
}

.t-crop::before {
  margin-bottom: calc(-0.05em + 0px);
}

.t-crop::after {
  margin-top: calc(-0.24355em + 0px);
}

.fade-in-down,
.expand {
  opacity: 0;
}

.icon-wrapper {
  line-height: 1.3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.icon-wrapper::before, .icon-wrapper::after {
  content: '';
  display: block;
  height: 0;
  width: 0;
}

.icon-wrapper::before {
  margin-bottom: calc(-0.05em + 0px);
}

.icon-wrapper::after {
  margin-top: calc(-0.24355em + 0px);
}

#board-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  place-items: center;
  z-index: 1;
  background: #1a0221;
}

#board-wrapper #board {
  position: relative;
  background: #1a0221;
}

#board-wrapper #board-bg {
  position: absolute;
  top: 0;
  left: 0;
}

#board-wrapper .scroll-tip {
  position: fixed;
  bottom: 1rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

#board-wrapper .scroll-tip .arrow {
  position: relative;
  height: 1rem;
  width: 2rem;
  -webkit-filter: drop-shadow(0 0 5px #e8ae30);
          filter: drop-shadow(0 0 5px #e8ae30);
  margin-bottom: .5rem;
}

#board-wrapper .scroll-tip .arrow:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: #e8ae30;
  -webkit-clip-path: polygon(0 0, 50% 100%, 100% 0);
          clip-path: polygon(0 0, 50% 100%, 100% 0);
}

@-webkit-keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#board-wrapper .scroll-tip .arrow:nth-child(1) {
  -webkit-animation: 1s fade-out 0s infinite alternate;
          animation: 1s fade-out 0s infinite alternate;
}

#board-wrapper .scroll-tip .arrow:nth-child(2) {
  -webkit-animation: 1s fade-out .3s infinite alternate;
          animation: 1s fade-out .3s infinite alternate;
}

#board-wrapper .scroll-tip .arrow:nth-child(3) {
  -webkit-animation: 1s fade-out .6s infinite alternate;
          animation: 1s fade-out .6s infinite alternate;
}

.page {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  background: #320444;
  z-index: 2;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-box-shadow: 0 0 10px #000;
          box-shadow: 0 0 10px #000;
  overflow-x: hidden;
}

.scroll-trigger {
  position: relative;
  width: 100vw;
  height: 300vh;
  pointer-events: none;
  z-index: 2;
}

.scroll-trigger:not([data-section="home"]):before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 10%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(29, 22, 31, 0.7)), to(rgba(19, 11, 23, 0)));
  background: linear-gradient(to bottom, rgba(29, 22, 31, 0.7), rgba(19, 11, 23, 0));
}

.scroll-trigger:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 15%;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(29, 22, 31, 0.7)), to(rgba(19, 11, 23, 0)));
  background: linear-gradient(to top, rgba(29, 22, 31, 0.7), rgba(19, 11, 23, 0));
}

.navbar {
  opacity: 0;
  position: fixed;
  left: 0;
  top: 50%;
  height: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
  z-index: 5;
  padding: 20px;
  -webkit-transition: .2s opacity ease-out, .2s transform ease-out;
  transition: .2s opacity ease-out, .2s transform ease-out;
  -webkit-filter: drop-shadow(2px 2px 0px black);
          filter: drop-shadow(2px 2px 0px black);
}

.navbar.ready {
  opacity: 1;
}

.navbar.hidden {
  opacity: 0;
  -webkit-transform: translateY(-50%) translateX(-100%);
          transform: translateY(-50%) translateX(-100%);
  pointer-events: none;
}

.navbar .item-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.navbar .nav-item {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 15px;
  width: 15px;
  background: #48453f;
  color: #bab2a1;
  border: 2px solid #bab2a1;
  -webkit-transition: .2s border ease-out;
  transition: .2s border ease-out;
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.navbar .nav-item:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  width: 80%;
  height: 80%;
  background: #f8aa02;
  -webkit-transition: opacity 0.2s cubic-bezier(0.16, 1, 0.3, 1), -webkit-transform 0.2s cubic-bezier(0.16, 1, 0.3, 1);
  transition: opacity 0.2s cubic-bezier(0.16, 1, 0.3, 1), -webkit-transform 0.2s cubic-bezier(0.16, 1, 0.3, 1);
  transition: opacity 0.2s cubic-bezier(0.16, 1, 0.3, 1), transform 0.2s cubic-bezier(0.16, 1, 0.3, 1);
  transition: opacity 0.2s cubic-bezier(0.16, 1, 0.3, 1), transform 0.2s cubic-bezier(0.16, 1, 0.3, 1), -webkit-transform 0.2s cubic-bezier(0.16, 1, 0.3, 1);
  -webkit-transform: scale3d(0, 0, 0);
          transform: scale3d(0, 0, 0);
}

.navbar .nav-item:not(.active):hover {
  color: #FFF;
}

.navbar .nav-item.active {
  border: 2px solid #e8ae30;
}

.navbar .nav-item.active:before {
  -webkit-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1);
}

.navbar .nav-item.active a {
  color: #e8ae30;
}

.navbar .nav-item.active:hover a {
  color: #ffd26f;
}

.navbar .nav-item a {
  position: absolute;
  left: 175%;
  font-size: 1.2rem;
  -webkit-transition: .2s color ease-out;
  transition: .2s color ease-out;
  font-size: calc(1.25rem + 1vw);
}

.navbar .scroll-marker-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #FFF;
  pointer-events: none;
  width: 3px;
  height: calc(100% - 10px);
  z-index: -1;
  border-radius: 10px;
}

.navbar .scroll-marker-wrapper .scroll-marker {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(232, 174, 48, 0.6);
  border-radius: 10px;
  -webkit-transform-origin: top center;
          transform-origin: top center;
  -webkit-filter: drop-shadow(0px 0px 3px #e8ae30);
          filter: drop-shadow(0px 0px 3px #e8ae30);
}

#home {
  position: relative;
  padding: 2rem;
  background: #320444 repeating-linear-gradient(-45deg, #060606 0, #0000 20px, #0000 10rem);
}

#home:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: repeating-linear-gradient(45deg, #060606, #0000 10px, #0000 3rem);
  -webkit-box-shadow: inset 0 0 30px #000;
          box-shadow: inset 0 0 30px #000;
  z-index: -1;
}

#home .triangle-wrapper {
  position: absolute;
  top: 0;
  left: 20%;
  -webkit-filter: drop-shadow(0 0 5px #fbbcff) drop-shadow(5px 40px 10px #000);
          filter: drop-shadow(0 0 5px #fbbcff) drop-shadow(5px 40px 10px #000);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: -1;
}

@media (min-width: 600px) {
  #home .triangle-wrapper {
    width: calc(100vh - 10rem);
    height: calc(100vh - 10rem);
    left: 50%;
  }
}

#home .triangle-wrapper .triangle {
  width: calc(150vw - 10rem);
  height: calc(150vw - 10rem);
  background: #fbbcff;
  -webkit-clip-path: polygon(0% 87%, 50% 0%, 100% 87%, 0% 87%, 1rem calc(87% - 1rem), calc(100% - 2rem) calc(87% - 1rem), 50% 2rem, 1rem 87%);
          clip-path: polygon(0% 87%, 50% 0%, 100% 87%, 0% 87%, 1rem calc(87% - 1rem), calc(100% - 2rem) calc(87% - 1rem), 50% 2rem, 1rem 87%);
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-transform: rotateZ(180deg);
          transform: rotateZ(180deg);
}

@media (min-width: 600px) {
  #home .triangle-wrapper .triangle {
    width: calc(100vh - 10rem);
    height: calc(100vh - 10rem);
  }
}

#home h2 {
  line-height: calc(5rem + 2vw);
}

#home h2, #home h4 {
  text-shadow: 0 0 10px #000;
}

#home h4:last-child {
  margin-top: auto;
}

#home .content-wrapper {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#projects .header-wrapper {
  position: relative;
  background: repeating-linear-gradient(-45deg, #78209c 0, #78209c 6px, #0000 6px, #0000 12px);
  padding: 1rem 0;
}

#projects .header-wrapper .header {
  color: #e8ae30;
  text-shadow: 0 0 20px #6b531f;
  -webkit-box-shadow: 0 0 10px #000;
          box-shadow: 0 0 10px #000;
  display: block;
  background: -webkit-gradient(linear, left top, right top, from(rgba(27, 25, 29, 0.8)), color-stop(50%, #1b191d), to(rgba(27, 25, 29, 0.8)));
  background: linear-gradient(to right, rgba(27, 25, 29, 0.8) 0%, #1b191d 50%, rgba(27, 25, 29, 0.8) 100%);
  text-align: center;
}

#projects .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 2rem 2rem 0 2rem;
}

#projects .project {
  position: relative;
  width: 100%;
  padding: .5rem 1.5rem;
  background: -webkit-gradient(linear, left top, right top, from(#6a178c), to(#4e0d67));
  background: linear-gradient(to right, #6a178c 0%, #4e0d67 100%);
  margin-bottom: 2rem;
  -webkit-box-shadow: 3px 3px 2px #151414;
          box-shadow: 3px 3px 2px #151414;
}

#projects .project:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  width: 5px;
  background: #e8ae30;
  -webkit-box-shadow: 2px 0 10px #e8ae30;
          box-shadow: 2px 0 10px #e8ae30;
}

#projects .project:after {
  content: '';
  position: absolute;
  right: 5px;
  top: 5px;
  width: 20px;
  height: 20px;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%);
  background: #320444;
}

#projects .project:nth-child(2n) {
  text-align: right;
  background: -webkit-gradient(linear, right top, left top, from(#6a178c), to(#4e0d67));
  background: linear-gradient(to left, #6a178c 0%, #4e0d67 100%);
}

#projects .project:nth-child(2n):before {
  left: unset;
  right: 0;
  -webkit-box-shadow: -2px 0 10px #e8ae30;
          box-shadow: -2px 0 10px #e8ae30;
}

#projects .project:nth-child(2n) .tags:before {
  background: -webkit-gradient(linear, right top, left top, color-stop(75%, #e8ae30), to(transparent));
  background: linear-gradient(to left, #e8ae30 75%, transparent);
}

#projects .project .title {
  line-height: 1.3;
  color: #e8ae30;
  text-shadow: 0 0 20px #6b531f;
}

#projects .project .title::before, #projects .project .title::after {
  content: '';
  display: block;
  height: 0;
  width: 0;
}

#projects .project .title::before {
  margin-bottom: calc(-0.05em + 0px);
}

#projects .project .title::after {
  margin-top: calc(-0.24355em + 0px);
}

#projects .project .description {
  margin-top: .5rem;
}

#projects .project .description * {
  font-family: 'Hind';
  font-size: calc(1rem + .5vw);
  font-weight: bold;
}

#projects .project .description p {
  margin-bottom: .5rem;
}

#projects .project .tags {
  position: relative;
  margin-top: -1rem;
  background: #320444;
  padding: 2px;
}

#projects .project .tags:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1px;
  width: 100%;
  background: -webkit-gradient(linear, left top, right top, color-stop(75%, #e8ae30), to(transparent));
  background: linear-gradient(to right, #e8ae30 75%, transparent);
}

#projects .project .tag {
  display: inline;
  color: #dcd0e0;
  font-size: calc(1rem + .25vw);
  font-family: 'Hind';
}

#projects .project .tag:not(:last-child):after {
  content: ' - ';
}

#projects .project .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#projects .project .footer a {
  position: relative;
}

#projects .project .footer svg {
  background: #320444;
  fill: #e8ae30;
  -webkit-transition: fill .2s ease-out;
  transition: fill .2s ease-out;
}

#projects .project .footer svg:hover {
  fill: #ad8429;
}

#projects .social {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin: auto 1rem 1rem 0;
}

#projects .social .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: .5rem 0;
  background: #4e0d67;
}

#projects .social a {
  position: relative;
  padding: .5rem 1rem;
  -webkit-transition: .2s transform ease-out;
  transition: .2s transform ease-out;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  color: #f9f9f9;
}

#projects .social a:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  -webkit-transform: skewX(-20deg);
          transform: skewX(-20deg);
  -webkit-transition: .2s transform ease-out, .2s background ease-out;
  transition: .2s transform ease-out, .2s background ease-out;
}

#projects .social a:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  -webkit-transform: skewX(-20deg);
          transform: skewX(-20deg);
  opacity: 0;
}

#projects .social a:hover {
  color: #e8ae30;
}

#projects .social a:hover:after {
  background: #320444;
}

#projects .social a:hover svg {
  fill: #e8ae30;
}

#projects .social a span {
  font-size: calc(1rem + 1vw);
}

#projects .social a svg {
  height: calc(1.5rem + 1vw);
  width: calc(1.5rem + 1vw);
  margin-right: .5rem;
  fill: #f9f9f9;
}

#projects .social a svg:hover:after {
  color: #e8ae30;
}

#about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  color: #f8aa02;
}

#about .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin: 0;
}

#about .card-topbar {
  height: 2.5rem;
  width: 100%;
  margin-bottom: .5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#about .notch:after {
  content: '';
  display: inline-block;
  width: 20px;
  height: 100%;
  background: #4e0d67;
  -webkit-clip-path: polygon(10px 0, 100% 0, calc(100% - 10px) 100%, 0 100%);
          clip-path: polygon(10px 0, 100% 0, calc(100% - 10px) 100%, 0 100%);
}

#about .notch:first-child:after {
  -webkit-clip-path: polygon(0 0, 100% 0, calc(100% - 10px) 100%, 0 100%);
          clip-path: polygon(0 0, 100% 0, calc(100% - 10px) 100%, 0 100%);
}

#about .notch:nth-child(2), #about .notch:nth-child(3), #about .notch:nth-child(4) {
  -webkit-filter: drop-shadow(0px 0px 10px #f8aa02);
          filter: drop-shadow(0px 0px 10px #f8aa02);
}

#about .notch:nth-child(2):after, #about .notch:nth-child(3):after, #about .notch:nth-child(4):after {
  background: #f8aa02;
}

#about .notch:last-child {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#about .notch:last-child:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 15px;
  width: calc(100% - 30px);
  height: 2px;
  background: #f8aa02;
  -webkit-box-shadow: 0 0 5px #f8aa02;
  box-shadow: 0 0 5px #f8aa02;
  z-index: 2;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

#about .notch:last-child:after {
  width: 100%;
  -webkit-clip-path: polygon(10px 0, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(10px 0, 100% 0, 100% 100%, 0 100%);
}

#about .card-body-wrapper {
  position: relative;
}

#about .card-body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #212121;
}

#about .card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: 100%;
  background: #4e0d67;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, calc(100% - 15px) 100%, calc(100% - 15px) 66%, calc(100% - 15px - 15px) calc(66% - 10px), calc(100% - 15px - 15px) calc(33% + 10px), calc(100% - 15px) 33%, calc(100% - 15px) 15px, 15px 15px, 15px 33%, calc(15px + 15px) calc(33% + 10px), calc(15px + 15px) calc(66% - 10px), 15px 66%, 15px calc(100% - 15px), calc(100% - 15px) calc(100% - 15px), calc(100% - 15px) 100%, 0 100%, 0 0);
          clip-path: polygon(0 0, 100% 0, 100% 100%, calc(100% - 15px) 100%, calc(100% - 15px) 66%, calc(100% - 15px - 15px) calc(66% - 10px), calc(100% - 15px - 15px) calc(33% + 10px), calc(100% - 15px) 33%, calc(100% - 15px) 15px, 15px 15px, 15px 33%, calc(15px + 15px) calc(33% + 10px), calc(15px + 15px) calc(66% - 10px), 15px 66%, 15px calc(100% - 15px), calc(100% - 15px) calc(100% - 15px), calc(100% - 15px) 100%, 0 100%, 0 0);
}

#about .card-overlay .arrow-l {
  position: absolute;
  top: calc(33% + 25px);
  right: 10px;
  width: 10px;
  height: calc(33% - 50px);
  -webkit-filter: drop-shadow(0px 0px 5px #f8aa02);
          filter: drop-shadow(0px 0px 5px #f8aa02);
}

#about .card-overlay .arrow-l:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  -webkit-clip-path: polygon(0 50%, 100% 0, 100% 100%);
          clip-path: polygon(0 50%, 100% 0, 100% 100%);
  background: #f8aa02;
}

#about .card-overlay .arrow-r {
  position: absolute;
  top: calc(33% + 25px);
  left: 10px;
  width: 10px;
  height: calc(33% - 50px);
  -webkit-filter: drop-shadow(0px 0px 5px #f8aa02);
          filter: drop-shadow(0px 0px 5px #f8aa02);
}

#about .card-overlay .arrow-r:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  -webkit-clip-path: polygon(0 0, 100% 50%, 0 100%);
          clip-path: polygon(0 0, 100% 50%, 0 100%);
  background: #f8aa02;
}

#about .description {
  position: relative;
  padding: 3rem;
  background: #4e0d67;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#about .description * {
  font-family: 'Hind';
  font-size: calc(1rem + .5vw);
}

#about .description p {
  margin-bottom: 1rem;
}

#about .card-tags {
  width: 100%;
  background: #4e0d67;
  padding: 10px;
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-top: 1px;
}

#about .card-tags .tag {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  line-height: 3rem;
  height: 3rem;
  overflow: hidden;
}

#about .card-tags .tag:before {
  content: '';
  width: 100%;
  height: 1px;
  position: absolute;
  left: 0;
  top: 50%;
  background: #f8aa02;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

#about .card-tags .tag p {
  position: relative;
  font-size: 2rem;
  display: inline-block;
  background: #4e0d67;
  padding: 0 1rem;
}

#about .body-content {
  padding: 0 20px;
  color: #f8aa02;
}

#about .body-content .img-wrapper {
  position: relative;
  width: 200px;
  height: 200px;
  margin: 20px;
}

#about .body-content .img-wrapper img {
  width: 200px;
  height: 200px;
  padding: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#about .body-content .img-wrapper img:nth-child(1) {
  -webkit-animation: glitch1 3s infinite alternate steps(1, end);
          animation: glitch1 3s infinite alternate steps(1, end);
}

#about .body-content .img-wrapper img:nth-child(2) {
  -webkit-animation: glitch2 3s infinite alternate steps(1, end);
          animation: glitch2 3s infinite alternate steps(1, end);
}

#about .body-content .img-wrapper img:nth-child(3) {
  -webkit-animation: glitch3 3s infinite alternate steps(1, end);
          animation: glitch3 3s infinite alternate steps(1, end);
}

#about .body-content .img-wrapper img:nth-child(4) {
  -webkit-animation: glitch4 3s infinite alternate steps(1, end);
          animation: glitch4 3s infinite alternate steps(1, end);
}

#about .body-content .img-wrapper img:nth-child(5) {
  -webkit-animation: glitch5 3s infinite alternate steps(1, end);
          animation: glitch5 3s infinite alternate steps(1, end);
}

@-webkit-keyframes glitch1 {
  20% {
    -webkit-clip-path: polygon(0 0%, 100% 0%, 100% 33%, 0 33%);
            clip-path: polygon(0 0%, 100% 0%, 100% 33%, 0 33%);
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  30% {
    -webkit-clip-path: polygon(0 0, 0 100%, 100% 100%, 100%, 0);
            clip-path: polygon(0 0, 0 100%, 100% 100%, 100%, 0);
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  47% {
    -webkit-transform: translate(-45%, -45%);
            transform: translate(-45%, -45%);
    -webkit-filter: hue-rotate(180deg);
            filter: hue-rotate(180deg);
  }
  48% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -webkit-filter: hue-rotate(0);
            filter: hue-rotate(0);
  }
  49% {
    -webkit-transform: translate(-55%, -45%);
            transform: translate(-55%, -45%);
  }
  50% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

@keyframes glitch1 {
  20% {
    -webkit-clip-path: polygon(0 0%, 100% 0%, 100% 33%, 0 33%);
            clip-path: polygon(0 0%, 100% 0%, 100% 33%, 0 33%);
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  30% {
    -webkit-clip-path: polygon(0 0, 0 100%, 100% 100%, 100%, 0);
            clip-path: polygon(0 0, 0 100%, 100% 100%, 100%, 0);
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  47% {
    -webkit-transform: translate(-45%, -45%);
            transform: translate(-45%, -45%);
    -webkit-filter: hue-rotate(180deg);
            filter: hue-rotate(180deg);
  }
  48% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -webkit-filter: hue-rotate(0);
            filter: hue-rotate(0);
  }
  49% {
    -webkit-transform: translate(-55%, -45%);
            transform: translate(-55%, -45%);
  }
  50% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

@-webkit-keyframes glitch2 {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
    -webkit-clip-path: polygon(0 40%, 100% 40%, 100% 60%, 0% 60%);
            clip-path: polygon(0 40%, 100% 40%, 100% 60%, 0% 60%);
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -webkit-filter: hue-rotate(90deg);
            filter: hue-rotate(90deg);
  }
  21% {
    -webkit-transform: translate(-46%, -46%);
            transform: translate(-46%, -46%);
    -webkit-filter: hue-rotate(0);
            filter: hue-rotate(0);
  }
  22% {
    -webkit-transform: translate(-54%, -54%);
            transform: translate(-54%, -54%);
  }
  25% {
    -webkit-clip-path: polygon(0 0, 0 100%, 100% 100%, 100%, 0);
            clip-path: polygon(0 0, 0 100%, 100% 100%, 100%, 0);
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  35% {
    -webkit-transform: translate(-45%, -55%);
            transform: translate(-45%, -55%);
  }
  36% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  37% {
    -webkit-transform: translate(-40%, -45%);
            transform: translate(-40%, -45%);
    -webkit-filter: hue-rotate(270deg);
            filter: hue-rotate(270deg);
  }
  38% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -webkit-filter: hue-rotate(0);
            filter: hue-rotate(0);
  }
  50% {
    -webkit-transform: translate(-45%, -55%);
            transform: translate(-45%, -55%);
  }
  51% {
    -webkit-transform: translate(-50%, -60%);
            transform: translate(-50%, -60%);
    -webkit-filter: hue-rotate(270deg);
            filter: hue-rotate(270deg);
  }
  52% {
    -webkit-transform: translate(-45%, -50%);
            transform: translate(-45%, -50%);
    -webkit-filter: hue-rotate(0);
            filter: hue-rotate(0);
  }
  53% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  71% {
    -webkit-transform: translate(-40%, -60%);
            transform: translate(-40%, -60%);
    -webkit-filter: hue-rotate(90deg);
            filter: hue-rotate(90deg);
  }
  72% {
    -webkit-transform: translate(-45%, -50%);
            transform: translate(-45%, -50%);
  }
  73% {
    -webkit-transform: translate(-40%, -50%);
            transform: translate(-40%, -50%);
    -webkit-filter: hue-rotate(0);
            filter: hue-rotate(0);
  }
  77% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

@keyframes glitch2 {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
    -webkit-clip-path: polygon(0 40%, 100% 40%, 100% 60%, 0% 60%);
            clip-path: polygon(0 40%, 100% 40%, 100% 60%, 0% 60%);
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -webkit-filter: hue-rotate(90deg);
            filter: hue-rotate(90deg);
  }
  21% {
    -webkit-transform: translate(-46%, -46%);
            transform: translate(-46%, -46%);
    -webkit-filter: hue-rotate(0);
            filter: hue-rotate(0);
  }
  22% {
    -webkit-transform: translate(-54%, -54%);
            transform: translate(-54%, -54%);
  }
  25% {
    -webkit-clip-path: polygon(0 0, 0 100%, 100% 100%, 100%, 0);
            clip-path: polygon(0 0, 0 100%, 100% 100%, 100%, 0);
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  35% {
    -webkit-transform: translate(-45%, -55%);
            transform: translate(-45%, -55%);
  }
  36% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  37% {
    -webkit-transform: translate(-40%, -45%);
            transform: translate(-40%, -45%);
    -webkit-filter: hue-rotate(270deg);
            filter: hue-rotate(270deg);
  }
  38% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -webkit-filter: hue-rotate(0);
            filter: hue-rotate(0);
  }
  50% {
    -webkit-transform: translate(-45%, -55%);
            transform: translate(-45%, -55%);
  }
  51% {
    -webkit-transform: translate(-50%, -60%);
            transform: translate(-50%, -60%);
    -webkit-filter: hue-rotate(270deg);
            filter: hue-rotate(270deg);
  }
  52% {
    -webkit-transform: translate(-45%, -50%);
            transform: translate(-45%, -50%);
    -webkit-filter: hue-rotate(0);
            filter: hue-rotate(0);
  }
  53% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  71% {
    -webkit-transform: translate(-40%, -60%);
            transform: translate(-40%, -60%);
    -webkit-filter: hue-rotate(90deg);
            filter: hue-rotate(90deg);
  }
  72% {
    -webkit-transform: translate(-45%, -50%);
            transform: translate(-45%, -50%);
  }
  73% {
    -webkit-transform: translate(-40%, -50%);
            transform: translate(-40%, -50%);
    -webkit-filter: hue-rotate(0);
            filter: hue-rotate(0);
  }
  77% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

@-webkit-keyframes glitch3 {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
    -webkit-clip-path: polygon(0 70%, 100% 70%, 100% 100%, 0% 100%);
            clip-path: polygon(0 70%, 100% 70%, 100% 100%, 0% 100%);
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  30% {
    -webkit-transform: translate(-40%, -40%);
            transform: translate(-40%, -40%);
  }
  31% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  35% {
    -webkit-clip-path: polygon(0 0, 0 100%, 100% 100%, 100%, 0);
            clip-path: polygon(0 0, 0 100%, 100% 100%, 100%, 0);
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  45% {
    -webkit-transform: translate(-60%, -60%);
            transform: translate(-60%, -60%);
  }
  46% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  47% {
    -webkit-clip-path: polygon(0 0, 0 100%, 100% 100%, 100%, 0);
            clip-path: polygon(0 0, 0 100%, 100% 100%, 100%, 0);
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  69% {
    -webkit-transform: translate(-40%, -40%);
            transform: translate(-40%, -40%);
    -webkit-filter: hue-rotate(90deg);
            filter: hue-rotate(90deg);
  }
  71% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg);
  }
}

@keyframes glitch3 {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
    -webkit-clip-path: polygon(0 70%, 100% 70%, 100% 100%, 0% 100%);
            clip-path: polygon(0 70%, 100% 70%, 100% 100%, 0% 100%);
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  30% {
    -webkit-transform: translate(-40%, -40%);
            transform: translate(-40%, -40%);
  }
  31% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  35% {
    -webkit-clip-path: polygon(0 0, 0 100%, 100% 100%, 100%, 0);
            clip-path: polygon(0 0, 0 100%, 100% 100%, 100%, 0);
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  45% {
    -webkit-transform: translate(-60%, -60%);
            transform: translate(-60%, -60%);
  }
  46% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  47% {
    -webkit-clip-path: polygon(0 0, 0 100%, 100% 100%, 100%, 0);
            clip-path: polygon(0 0, 0 100%, 100% 100%, 100%, 0);
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  69% {
    -webkit-transform: translate(-40%, -40%);
            transform: translate(-40%, -40%);
    -webkit-filter: hue-rotate(90deg);
            filter: hue-rotate(90deg);
  }
  71% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg);
  }
}

@-webkit-keyframes glitch4 {
  0% {
    opacity: 0;
  }
  22% {
    opacity: 1;
    -webkit-clip-path: polygon(0 32%, 100% 32%, 100% 41%, 0% 41%);
            clip-path: polygon(0 32%, 100% 32%, 100% 41%, 0% 41%);
    -webkit-transform: translate(-48%, -50%);
            transform: translate(-48%, -50%);
  }
  24% {
    -webkit-clip-path: polygon(0 0, 0 100%, 100% 100%, 100%, 0);
            clip-path: polygon(0 0, 0 100%, 100% 100%, 100%, 0);
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

@keyframes glitch4 {
  0% {
    opacity: 0;
  }
  22% {
    opacity: 1;
    -webkit-clip-path: polygon(0 32%, 100% 32%, 100% 41%, 0% 41%);
            clip-path: polygon(0 32%, 100% 32%, 100% 41%, 0% 41%);
    -webkit-transform: translate(-48%, -50%);
            transform: translate(-48%, -50%);
  }
  24% {
    -webkit-clip-path: polygon(0 0, 0 100%, 100% 100%, 100%, 0);
            clip-path: polygon(0 0, 0 100%, 100% 100%, 100%, 0);
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

@-webkit-keyframes glitch5 {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
    -webkit-clip-path: polygon(0 59%, 100% 59%, 100% 71%, 0% 71%);
            clip-path: polygon(0 59%, 100% 59%, 100% 71%, 0% 71%);
    -webkit-transform: translate(-52%, -50%);
            transform: translate(-52%, -50%);
  }
  25% {
    -webkit-clip-path: polygon(0 0, 0 100%, 100% 100%, 100%, 0);
            clip-path: polygon(0 0, 0 100%, 100% 100%, 100%, 0);
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

@keyframes glitch5 {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
    -webkit-clip-path: polygon(0 59%, 100% 59%, 100% 71%, 0% 71%);
            clip-path: polygon(0 59%, 100% 59%, 100% 71%, 0% 71%);
    -webkit-transform: translate(-52%, -50%);
            transform: translate(-52%, -50%);
  }
  25% {
    -webkit-clip-path: polygon(0 0, 0 100%, 100% 100%, 100%, 0);
            clip-path: polygon(0 0, 0 100%, 100% 100%, 100%, 0);
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

#about .card-bottombar {
  position: relative;
  height: 2.5rem;
  width: 100%;
  background: #4e0d67;
}

#about .card-bottombar::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 10px;
  width: calc(100% - 20px);
  height: 30%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: #f8aa02;
  -webkit-box-shadow: 0 0 10px #f8aa02;
          box-shadow: 0 0 10px #f8aa02;
}

#about .arrow {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #320444;
  -webkit-clip-path: polygon(0 0, 0% 100%, 100% 0);
          clip-path: polygon(0 0, 0% 100%, 100% 0);
}

#about .arrow.arrow-tl {
  top: 5px;
  left: 5px;
  -webkit-transform: rotateZ(0);
          transform: rotateZ(0);
}

#about .arrow.arrow-tr {
  top: 5px;
  right: 5px;
  -webkit-transform: rotateZ(90deg);
          transform: rotateZ(90deg);
}

#about .arrow.arrow-br {
  bottom: 5px;
  right: 5px;
  -webkit-transform: rotateZ(180deg);
          transform: rotateZ(180deg);
}

#about .arrow.arrow-bl {
  bottom: 5px;
  left: 5px;
  -webkit-transform: rotateZ(270deg);
          transform: rotateZ(270deg);
}

@media (min-width: 600px) {
  #about {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 100%;
  }
  #about .card {
    width: auto;
  }
  #about .description {
    margin: 0 0 0 1rem;
  }
  #about .desc-mobbar {
    display: none;
  }
  #about .card-bottombar {
    margin-top: .5rem;
  }
  #about .card-bottombar:after {
    -webkit-box-shadow: 0 0 20px #f8aa02;
            box-shadow: 0 0 20px #f8aa02;
  }
}

#contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem;
}

#contact .contact-form {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin: 1rem;
  width: 80%;
}

@media (min-width: 600px) {
  #contact .contact-form {
    width: 40%;
  }
}

#contact .contact-form input, #contact .contact-form textarea {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  font-size: calc(.5rem + 1vw);
  border: 1px solid #e8ae30;
  outline: none;
  color: #FFF;
  font-family: 'Hind';
  background: -webkit-gradient(linear, right bottom, left top, from(#f8aa02), to(#f8aa02)) no-repeat, -webkit-gradient(linear, right bottom, left top, from(#f8aa02), to(#f8aa02)) no-repeat, -webkit-gradient(linear, left bottom, right top, from(#f8aa02), to(#f8aa02)) no-repeat, -webkit-gradient(linear, left bottom, right top, from(#f8aa02), to(#f8aa02)) no-repeat, -webkit-gradient(linear, left top, right bottom, from(#f8aa02), to(#f8aa02)) no-repeat, -webkit-gradient(linear, left top, right bottom, from(#f8aa02), to(#f8aa02)) no-repeat, -webkit-gradient(linear, right top, left bottom, from(#f8aa02), to(#f8aa02)) no-repeat, -webkit-gradient(linear, right top, left bottom, from(#f8aa02), to(#f8aa02)) no-repeat;
  background: linear-gradient(to left top, #f8aa02, #f8aa02) no-repeat, linear-gradient(to left top, #f8aa02, #f8aa02) no-repeat, linear-gradient(to right top, #f8aa02, #f8aa02) no-repeat, linear-gradient(to right top, #f8aa02, #f8aa02) no-repeat, linear-gradient(to bottom right, #f8aa02, #f8aa02) no-repeat, linear-gradient(to bottom right, #f8aa02, #f8aa02) no-repeat, linear-gradient(to bottom left, #f8aa02, #f8aa02) no-repeat, linear-gradient(to bottom left, #f8aa02, #f8aa02) no-repeat;
  background-size: 10px 2px, 2px 10px;
  background-position: top left, top left, top right, top right, bottom right, bottom right, bottom left, bottom left;
  -webkit-animation: .1s retract forwards;
          animation: .1s retract forwards;
}

@-webkit-keyframes retract {
  0% {
    background-size: 50% 2px, 2px 50%;
  }
  100% {
    background-size: 10px 2px, 2px 10px;
  }
}

@keyframes retract {
  0% {
    background-size: 50% 2px, 2px 50%;
  }
  100% {
    background-size: 10px 2px, 2px 10px;
  }
}

#contact .contact-form input:focus, #contact .contact-form textarea:focus {
  -webkit-animation: .2s expand forwards;
          animation: .2s expand forwards;
}

@-webkit-keyframes expand {
  100% {
    background-size: 50% 2px, 2px 50%;
  }
}

@keyframes expand {
  100% {
    background-size: 50% 2px, 2px 50%;
  }
}

#contact .contact-form input::-webkit-input-placeholder, #contact .contact-form textarea::-webkit-input-placeholder {
  color: #FFF;
  opacity: .7;
}

#contact .contact-form input:-ms-input-placeholder, #contact .contact-form textarea:-ms-input-placeholder {
  color: #FFF;
  opacity: .7;
}

#contact .contact-form input::-ms-input-placeholder, #contact .contact-form textarea::-ms-input-placeholder {
  color: #FFF;
  opacity: .7;
}

#contact .contact-form input::placeholder, #contact .contact-form textarea::placeholder {
  color: #FFF;
  opacity: .7;
}

#contact .contact-button {
  position: relative;
  border: 0;
  padding: 1rem 1rem;
  color: #000;
  cursor: pointer;
  -webkit-transition: color 0.5s cubic-bezier(0.16, 1, 0.3, 1), background-position 0.3s cubic-bezier(0.16, 1, 0.3, 1);
  transition: color 0.5s cubic-bezier(0.16, 1, 0.3, 1), background-position 0.3s cubic-bezier(0.16, 1, 0.3, 1);
  background: -webkit-gradient(linear, right bottom, left top, from(#e8ae30), to(#e8ae30)) no-repeat, -webkit-gradient(linear, right bottom, left top, from(#e8ae30), to(#e8ae30)) no-repeat, -webkit-gradient(linear, left bottom, right top, from(#e8ae30), to(#e8ae30)) no-repeat, -webkit-gradient(linear, left bottom, right top, from(#e8ae30), to(#e8ae30)) no-repeat, -webkit-gradient(linear, left top, right bottom, from(#e8ae30), to(#e8ae30)) no-repeat, -webkit-gradient(linear, left top, right bottom, from(#e8ae30), to(#e8ae30)) no-repeat, -webkit-gradient(linear, right top, left bottom, from(#e8ae30), to(#e8ae30)) no-repeat, -webkit-gradient(linear, right top, left bottom, from(#e8ae30), to(#e8ae30)) no-repeat;
  background: linear-gradient(to left top, #e8ae30, #e8ae30) no-repeat, linear-gradient(to left top, #e8ae30, #e8ae30) no-repeat, linear-gradient(to right top, #e8ae30, #e8ae30) no-repeat, linear-gradient(to right top, #e8ae30, #e8ae30) no-repeat, linear-gradient(to bottom right, #e8ae30, #e8ae30) no-repeat, linear-gradient(to bottom right, #e8ae30, #e8ae30) no-repeat, linear-gradient(to bottom left, #e8ae30, #e8ae30) no-repeat, linear-gradient(to bottom left, #e8ae30, #e8ae30) no-repeat;
  background-size: 10px 2px, 2px 10px;
  background-position: 50% 50%;
  font-size: calc(1.25rem + 1vw);
}

#contact .contact-button::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: #e8ae30;
  z-index: -1;
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.16, 1, 0.3, 1);
  transition: -webkit-transform 0.2s cubic-bezier(0.16, 1, 0.3, 1);
  transition: transform 0.2s cubic-bezier(0.16, 1, 0.3, 1);
  transition: transform 0.2s cubic-bezier(0.16, 1, 0.3, 1), -webkit-transform 0.2s cubic-bezier(0.16, 1, 0.3, 1);
  pointer-events: none;
}

#contact .contact-button:hover {
  color: #e8ae30;
  background-position: 0.5rem 0.5rem, 0.5rem 0.5rem, 0.5rem calc(100% - 0.5rem), 0.5rem calc(100% - 0.5rem), calc(100% - 0.5rem) calc(100% - 0.5rem), calc(100% - 0.5rem) calc(100% - 0.5rem), calc(100% - 0.5rem) 0.5rem, calc(100% - 0.5rem) 0.5rem;
}

#contact .contact-button:hover:before {
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
}

#contact .credits {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-top: auto;
}

#contact .credits .header {
  border-bottom: 1px solid;
  border-image-source: linear-gradient(to right, #e8ae30, rgba(232, 174, 48, 0));
  border-image-slice: 1;
  margin-bottom: 2.5px;
}

#contact .credits .link-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#contact .credits a {
  position: relative;
  border: 0;
  padding: 1rem 1rem;
  color: #000;
  cursor: pointer;
  -webkit-transition: color 0.5s cubic-bezier(0.16, 1, 0.3, 1), background-position 0.3s cubic-bezier(0.16, 1, 0.3, 1);
  transition: color 0.5s cubic-bezier(0.16, 1, 0.3, 1), background-position 0.3s cubic-bezier(0.16, 1, 0.3, 1);
  background: -webkit-gradient(linear, right bottom, left top, from(#e8ae30), to(#e8ae30)) no-repeat, -webkit-gradient(linear, right bottom, left top, from(#e8ae30), to(#e8ae30)) no-repeat, -webkit-gradient(linear, left bottom, right top, from(#e8ae30), to(#e8ae30)) no-repeat, -webkit-gradient(linear, left bottom, right top, from(#e8ae30), to(#e8ae30)) no-repeat, -webkit-gradient(linear, left top, right bottom, from(#e8ae30), to(#e8ae30)) no-repeat, -webkit-gradient(linear, left top, right bottom, from(#e8ae30), to(#e8ae30)) no-repeat, -webkit-gradient(linear, right top, left bottom, from(#e8ae30), to(#e8ae30)) no-repeat, -webkit-gradient(linear, right top, left bottom, from(#e8ae30), to(#e8ae30)) no-repeat;
  background: linear-gradient(to left top, #e8ae30, #e8ae30) no-repeat, linear-gradient(to left top, #e8ae30, #e8ae30) no-repeat, linear-gradient(to right top, #e8ae30, #e8ae30) no-repeat, linear-gradient(to right top, #e8ae30, #e8ae30) no-repeat, linear-gradient(to bottom right, #e8ae30, #e8ae30) no-repeat, linear-gradient(to bottom right, #e8ae30, #e8ae30) no-repeat, linear-gradient(to bottom left, #e8ae30, #e8ae30) no-repeat, linear-gradient(to bottom left, #e8ae30, #e8ae30) no-repeat;
  background-size: 10px 2px, 2px 10px;
  background-position: 50% 50%;
  font-size: calc(1.25rem + 1vw);
}

#contact .credits a::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: #e8ae30;
  z-index: -1;
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.16, 1, 0.3, 1);
  transition: -webkit-transform 0.2s cubic-bezier(0.16, 1, 0.3, 1);
  transition: transform 0.2s cubic-bezier(0.16, 1, 0.3, 1);
  transition: transform 0.2s cubic-bezier(0.16, 1, 0.3, 1), -webkit-transform 0.2s cubic-bezier(0.16, 1, 0.3, 1);
  pointer-events: none;
}

#contact .credits a:hover {
  color: #e8ae30;
  background-position: 0.5rem 0.5rem, 0.5rem 0.5rem, 0.5rem calc(100% - 0.5rem), 0.5rem calc(100% - 0.5rem), calc(100% - 0.5rem) calc(100% - 0.5rem), calc(100% - 0.5rem) calc(100% - 0.5rem), calc(100% - 0.5rem) 0.5rem, calc(100% - 0.5rem) 0.5rem;
}

#contact .credits a:hover:before {
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
}

@media (min-width: 600px) {
  #contact .credits a {
    position: relative;
    border: 0;
    padding: 0.5rem 1rem;
    color: #000;
    cursor: pointer;
    -webkit-transition: color 0.5s cubic-bezier(0.16, 1, 0.3, 1), background-position 0.3s cubic-bezier(0.16, 1, 0.3, 1);
    transition: color 0.5s cubic-bezier(0.16, 1, 0.3, 1), background-position 0.3s cubic-bezier(0.16, 1, 0.3, 1);
    background: -webkit-gradient(linear, right bottom, left top, from(#e8ae30), to(#e8ae30)) no-repeat, -webkit-gradient(linear, right bottom, left top, from(#e8ae30), to(#e8ae30)) no-repeat, -webkit-gradient(linear, left bottom, right top, from(#e8ae30), to(#e8ae30)) no-repeat, -webkit-gradient(linear, left bottom, right top, from(#e8ae30), to(#e8ae30)) no-repeat, -webkit-gradient(linear, left top, right bottom, from(#e8ae30), to(#e8ae30)) no-repeat, -webkit-gradient(linear, left top, right bottom, from(#e8ae30), to(#e8ae30)) no-repeat, -webkit-gradient(linear, right top, left bottom, from(#e8ae30), to(#e8ae30)) no-repeat, -webkit-gradient(linear, right top, left bottom, from(#e8ae30), to(#e8ae30)) no-repeat;
    background: linear-gradient(to left top, #e8ae30, #e8ae30) no-repeat, linear-gradient(to left top, #e8ae30, #e8ae30) no-repeat, linear-gradient(to right top, #e8ae30, #e8ae30) no-repeat, linear-gradient(to right top, #e8ae30, #e8ae30) no-repeat, linear-gradient(to bottom right, #e8ae30, #e8ae30) no-repeat, linear-gradient(to bottom right, #e8ae30, #e8ae30) no-repeat, linear-gradient(to bottom left, #e8ae30, #e8ae30) no-repeat, linear-gradient(to bottom left, #e8ae30, #e8ae30) no-repeat;
    background-size: 10px 2px, 2px 10px;
    background-position: 50% 50%;
  }
  #contact .credits a::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: #e8ae30;
    z-index: -1;
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.16, 1, 0.3, 1);
    transition: -webkit-transform 0.2s cubic-bezier(0.16, 1, 0.3, 1);
    transition: transform 0.2s cubic-bezier(0.16, 1, 0.3, 1);
    transition: transform 0.2s cubic-bezier(0.16, 1, 0.3, 1), -webkit-transform 0.2s cubic-bezier(0.16, 1, 0.3, 1);
    pointer-events: none;
  }
  #contact .credits a:hover {
    color: #e8ae30;
    background-position: 0.25rem 0.5rem, 0.25rem 0.5rem, 0.25rem calc(100% - 0.5rem), 0.25rem calc(100% - 0.5rem), calc(100% - 0.25rem) calc(100% - 0.5rem), calc(100% - 0.25rem) calc(100% - 0.5rem), calc(100% - 0.25rem) 0.5rem, calc(100% - 0.25rem) 0.5rem;
  }
  #contact .credits a:hover:before {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
}

#contact .credits a:first-child {
  margin-top: 1px;
}

#contact .credits a:not(:last-child) {
  margin-bottom: 1px;
}

#contact .credits .arrow-r {
  position: relative;
  display: inline-block;
  height: calc(.5rem + 1vw);
  width: calc(.5rem + 1vw);
  -webkit-filter: drop-shadow(0px 0px 2.5px #f8aa02);
          filter: drop-shadow(0px 0px 2.5px #f8aa02);
  margin: 0 .5rem;
}

#contact .credits .arrow-r:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  -webkit-clip-path: polygon(0 0, 100% 50%, 0 100%);
          clip-path: polygon(0 0, 100% 50%, 0 100%);
  background: #f8aa02;
}

#contact .credits span {
  font-size: calc(1.25rem + 1vw);
}
/*# sourceMappingURL=index.css.map */